@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xqkw0h');
  src:  url('fonts/icomoon.eot?xqkw0h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xqkw0h') format('truetype'),
    url('fonts/icomoon.woff?xqkw0h') format('woff'),
    url('fonts/icomoon.svg?xqkw0h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-actions-add:before {
  content: "\e900";
}
.icon-ic-actions-add-file:before {
  content: "\e901";
}
.icon-ic-actions-add-ribbon:before {
  content: "\e902";
}
.icon-ic-actions-add-simple:before {
  content: "\e903";
}
.icon-ic-actions-add-tab:before {
  content: "\e904";
}
.icon-ic-actions-bag:before {
  content: "\e905";
}
.icon-ic-actions-bookmark:before {
  content: "\e906";
}
.icon-ic-actions-bookmarks:before {
  content: "\e907";
}
.icon-ic-actions-calendar:before {
  content: "\e908";
}
.icon-ic-actions-check:before {
  content: "\e909";
}
.icon-ic-actions-check-simple:before {
  content: "\e90a";
}
.icon-ic-actions-close:before {
  content: "\e90b";
}
.icon-ic-actions-closed-user:before {
  content: "\e90c";
}
.icon-ic-actions-closed-view:before {
  content: "\e90d";
}
.icon-ic-actions-close-simple:before {
  content: "\e90e";
}
.icon-ic-actions-danger:before {
  content: "\e90f";
}
.icon-ic-actions-danger-simple:before {
  content: "\e910";
}
.icon-ic-actions-download:before {
  content: "\e911";
}
.icon-ic-actions-emultiple-edit:before {
  content: "\e912";
}
.icon-ic-actions-file:before {
  content: "\e913";
}
.icon-ic-actions-go-out:before {
  content: "\e914";
}
.icon-ic-actions-half-layout:before {
  content: "\e915";
}
.icon-ic-actions-heart:before {
  content: "\e916";
}
.icon-ic-actions-layout:before {
  content: "\e917";
}
.icon-ic-actions-loarder:before {
  content: "\e918";
}
.icon-ic-actions-more-1:before {
  content: "\e919";
}
.icon-ic-actions-more-2:before {
  content: "\e91a";
}
.icon-ic-actions-multi:before {
  content: "\e91b";
}
.icon-ic-actions-multi-success:before {
  content: "\e91c";
}
.icon-ic-actions-newtab:before {
  content: "\e91d";
}
.icon-ic-actions-new-window:before {
  content: "\e91e";
}
.icon-ic-actions-paste:before {
  content: "\e91f";
}
.icon-ic-actions-remove:before {
  content: "\e920";
}
.icon-ic-actions-remove-ribbon:before {
  content: "\e921";
}
.icon-ic-actions-remove-simple:before {
  content: "\e922";
}
.icon-ic-actions-remove-tab:before {
  content: "\e923";
}
.icon-ic-actions-search:before {
  content: "\e924";
}
.icon-ic-actions-select:before {
  content: "\e925";
}
.icon-ic-actions-selected:before {
  content: "\e926";
}
.icon-ic-actions-settings:before {
  content: "\e927";
}
.icon-ic-actions-star:before {
  content: "\e928";
}
.icon-ic-actions-switch-off:before {
  content: "\e929";
}
.icon-ic-actions-switch-on:before {
  content: "\e92a";
}
.icon-ic-actions-thumbs-up:before {
  content: "\e92b";
}
.icon-ic-actions-timer:before {
  content: "\e92c";
}
.icon-ic-actions-trash:before {
  content: "\e92d";
}
.icon-ic-actions-user:before {
  content: "\e92e";
}
.icon-ic-actions-view:before {
  content: "\e92f";
}
.icon-ic-arrows-bottom:before {
  content: "\e930";
}
.icon-ic-arrows-left:before {
  content: "\e931";
}
.icon-ic-arrows-left-right:before {
  content: "\e932";
}
.icon-ic-arrows-right:before {
  content: "\e933";
}
.icon-ic-arrows-top:before {
  content: "\e934";
}
.icon-ic-arrows-top-bottom:before {
  content: "\e935";
}
.icon-ic-chevron-down:before {
  content: "\e936";
}
.icon-ic-chevron-left:before {
  content: "\e937";
}
.icon-ic-chevron-left-right:before {
  content: "\e938";
}
.icon-ic-chevron-right:before {
  content: "\e939";
}
.icon-ic-chevron-top:before {
  content: "\e93a";
}
.icon-ic-chevron-top-bottom:before {
  content: "\e93b";
}
.icon-ic-construction-coasters:before {
  content: "\e93c";
}
.icon-ic-construction-cone:before {
  content: "\e93d";
}
.icon-ic-construction-drill:before {
  content: "\e93e";
}
.icon-ic-construction-hammer:before {
  content: "\e93f";
}
.icon-ic-construction-hook:before {
  content: "\e940";
}
.icon-ic-construction-ladder:before {
  content: "\e941";
}
.icon-ic-construction-meter:before {
  content: "\e942";
}
.icon-ic-construction-nail:before {
  content: "\e943";
}
.icon-ic-construction-ruler:before {
  content: "\e944";
}
.icon-ic-construction-sharpener:before {
  content: "\e945";
}
.icon-ic-construction-shovel:before {
  content: "\e946";
}
.icon-ic-construction-stop:before {
  content: "\e947";
}
.icon-ic-contact-browser:before {
  content: "\e948";
}
.icon-ic-contact-chat:before {
  content: "\e949";
}
.icon-ic-contact-edit:before {
  content: "\e94a";
}
.icon-ic-contact-edit-contact:before {
  content: "\e94b";
}
.icon-ic-contact-mail:before {
  content: "\e94c";
}
.icon-ic-contact-map-pin:before {
  content: "\e94d";
}
.icon-ic-contact-message:before {
  content: "\e94e";
}
.icon-ic-contact-mobile:before {
  content: "\e94f";
}
.icon-ic-contact-phone:before {
  content: "\e950";
}
.icon-ic-contact-phone-2:before {
  content: "\e951";
}
.icon-ic-contact-phone-time:before {
  content: "\e952";
}
.icon-ic-contact-time:before {
  content: "\e953";
}
.icon-ic-devices-camera:before {
  content: "\e954";
}
.icon-ic-devices-controller:before {
  content: "\e955";
}
.icon-ic-devices-desktop:before {
  content: "\e956";
}
.icon-ic-devices-headphones:before {
  content: "\e957";
}
.icon-ic-devices-ipad:before {
  content: "\e958";
}
.icon-ic-devices-keyboard:before {
  content: "\e959";
}
.icon-ic-devices-laptop:before {
  content: "\e95a";
}
.icon-ic-devices-mobile:before {
  content: "\e95b";
}
.icon-ic-devices-mouse:before {
  content: "\e95c";
}
.icon-ic-devices-tablet:before {
  content: "\e95d";
}
.icon-ic-devices-vr:before {
  content: "\e95e";
}
.icon-ic-devices-watch:before {
  content: "\e95f";
}
.icon-ic-directions-again:before {
  content: "\e960";
}
.icon-ic-directions-connect-up:before {
  content: "\e961";
}
.icon-ic-directions-left:before {
  content: "\e962";
}
.icon-ic-directions-left-right:before {
  content: "\e963";
}
.icon-ic-directions-left-up:before {
  content: "\e964";
}
.icon-ic-directions-right:before {
  content: "\e965";
}
.icon-ic-directions-right-left:before {
  content: "\e966";
}
.icon-ic-directions-right-left-up:before {
  content: "\e967";
}
.icon-ic-directions-right-up:before {
  content: "\e968";
}
.icon-ic-directions-round:before {
  content: "\e969";
}
.icon-ic-directions-turn-back:before {
  content: "\e96a";
}
.icon-ic-directions-two-points:before {
  content: "\e96b";
}
.icon-ic-ecommerce-badge:before {
  content: "\e96c";
}
.icon-ic-ecommerce-basket:before {
  content: "\e96d";
}
.icon-ic-ecommerce-card:before {
  content: "\e96e";
}
.icon-ic-ecommerce-cart:before {
  content: "\e96f";
}
.icon-ic-ecommerce-delivery:before {
  content: "\e970";
}
.icon-ic-ecommerce-gift:before {
  content: "\e971";
}
.icon-ic-ecommerce-house:before {
  content: "\e972";
}
.icon-ic-ecommerce-invoice:before {
  content: "\e973";
}
.icon-ic-ecommerce-money:before {
  content: "\e974";
}
.icon-ic-ecommerce-qr:before {
  content: "\e975";
}
.icon-ic-ecommerce-sign:before {
  content: "\e976";
}
.icon-ic-ecommerce-tag:before {
  content: "\e977";
}
.icon-ic-editor-attachament:before {
  content: "\e978";
}
.icon-ic-editor-block:before {
  content: "\e979";
}
.icon-ic-editor-capital:before {
  content: "\e97a";
}
.icon-ic-editor-capitalize:before {
  content: "\e97b";
}
.icon-ic-editor-center:before {
  content: "\e97c";
}
.icon-ic-editor-color:before {
  content: "\e97d";
}
.icon-ic-editor-left:before {
  content: "\e97e";
}
.icon-ic-editor-right:before {
  content: "\e97f";
}
.icon-ic-editor-scale:before {
  content: "\e980";
}
.icon-ic-editor-space:before {
  content: "\e981";
}
.icon-ic-editor-table:before {
  content: "\e982";
}
.icon-ic-editor-uncolor:before {
  content: "\e983";
}
.icon-ic-emoji-angry:before {
  content: "\e984";
}
.icon-ic-emoji-blink:before {
  content: "\e985";
}
.icon-ic-emoji-crazy-happy:before {
  content: "\e986";
}
.icon-ic-emoji-crying:before {
  content: "\e987";
}
.icon-ic-emoji-feel-crazy:before {
  content: "\e988";
}
.icon-ic-emoji-feel-quite-good:before {
  content: "\e989";
}
.icon-ic-emoji-pretty-good:before {
  content: "\e98a";
}
.icon-ic-emoji-quite-ok:before {
  content: "\e98b";
}
.icon-ic-emoji-sad:before {
  content: "\e98c";
}
.icon-ic-emoji-super-smile:before {
  content: "\e98d";
}
.icon-ic-emoji-weird:before {
  content: "\e98e";
}
.icon-ic-emoji-weird-2:before {
  content: "\e98f";
}
.icon-ic-furniture-bed:before {
  content: "\e990";
}
.icon-ic-furniture-chair:before {
  content: "\e991";
}
.icon-ic-furniture-desk:before {
  content: "\e992";
}
.icon-ic-furniture-lamp:before {
  content: "\e993";
}
.icon-ic-furniture-light:before {
  content: "\e994";
}
.icon-ic-furniture-mirror:before {
  content: "\e995";
}
.icon-ic-furniture-pouch:before {
  content: "\e996";
}
.icon-ic-furniture-rack:before {
  content: "\e997";
}
.icon-ic-furniture-seat:before {
  content: "\e998";
}
.icon-ic-furniture-shelf:before {
  content: "\e999";
}
.icon-ic-furniture-small-bed:before {
  content: "\e99a";
}
.icon-ic-furniture-wardrobe:before {
  content: "\e99b";
}
.icon-ic-kitchen-board:before {
  content: "\e99c";
}
.icon-ic-kitchen-bowl:before {
  content: "\e99d";
}
.icon-ic-kitchen-dipper:before {
  content: "\e99e";
}
.icon-ic-kitchen-fork:before {
  content: "\e99f";
}
.icon-ic-kitchen-fridge:before {
  content: "\e9a0";
}
.icon-ic-kitchen-knife:before {
  content: "\e9a1";
}
.icon-ic-kitchen-microoven:before {
  content: "\e9a2";
}
.icon-ic-kitchen-plate:before {
  content: "\e9a3";
}
.icon-ic-kitchen-pot:before {
  content: "\e9a4";
}
.icon-ic-kitchen-roller:before {
  content: "\e9a5";
}
.icon-ic-kitchen-salt:before {
  content: "\e9a6";
}
.icon-ic-kitchen-spoon:before {
  content: "\e9a7";
}
.icon-ic-layout-content-left:before {
  content: "\e9a8";
}
.icon-ic-layout-content-right:before {
  content: "\e9a9";
}
.icon-ic-layout-footer:before {
  content: "\e9aa";
}
.icon-ic-layout-header:before {
  content: "\e9ab";
}
.icon-ic-layout-image-thumbnail:before {
  content: "\e9ac";
}
.icon-ic-layout-left-menu:before {
  content: "\e9ad";
}
.icon-ic-layout-multiple-grid:before {
  content: "\e9ae";
}
.icon-ic-layout-picture-left:before {
  content: "\e9af";
}
.icon-ic-layout-picture-right:before {
  content: "\e9b0";
}
.icon-ic-layout-right-menu:before {
  content: "\e9b1";
}
.icon-ic-layout-sections:before {
  content: "\e9b2";
}
.icon-ic-layout-square-grid:before {
  content: "\e9b3";
}
.icon-ic-media-backward:before {
  content: "\e9b4";
}
.icon-ic-media-collection:before {
  content: "\e9b5";
}
.icon-ic-media-disk:before {
  content: "\e9b6";
}
.icon-ic-media-forward:before {
  content: "\e9b7";
}
.icon-ic-media-microphone:before {
  content: "\e9b8";
}
.icon-ic-media-mixer:before {
  content: "\e9b9";
}
.icon-ic-media-note:before {
  content: "\e9ba";
}
.icon-ic-media-play:before {
  content: "\e9bb";
}
.icon-ic-media-stop:before {
  content: "\e9bc";
}
.icon-ic-media-volume:before {
  content: "\e9bd";
}
.icon-ic-media-volume-down:before {
  content: "\e9be";
}
.icon-ic-media-volume-up:before {
  content: "\e9bf";
}
.icon-ic-places-beacon:before {
  content: "\e9c0";
}
.icon-ic-places-bridge:before {
  content: "\e9c1";
}
.icon-ic-places-carousel:before {
  content: "\e9c2";
}
.icon-ic-places-castle:before {
  content: "\e9c3";
}
.icon-ic-places-church:before {
  content: "\e9c4";
}
.icon-ic-places-cinema:before {
  content: "\e9c5";
}
.icon-ic-places-court:before {
  content: "\e9c6";
}
.icon-ic-places-mall:before {
  content: "\e9c7";
}
.icon-ic-places-mosque:before {
  content: "\e9c8";
}
.icon-ic-places-mountains:before {
  content: "\e9c9";
}
.icon-ic-places-park:before {
  content: "\e9ca";
}
.icon-ic-places-tent:before {
  content: "\e9cb";
}
.icon-ic-real-estate-bath:before {
  content: "\e9cc";
}
.icon-ic-real-estate-clima:before {
  content: "\e9cd";
}
.icon-ic-real-estate-count:before {
  content: "\e9ce";
}
.icon-ic-real-estate-fence:before {
  content: "\e9cf";
}
.icon-ic-real-estate-flat:before {
  content: "\e9d0";
}
.icon-ic-real-estate-plan:before {
  content: "\e9d1";
}
.icon-ic-real-estate-pool:before {
  content: "\e9d2";
}
.icon-ic-real-estate-search-house:before {
  content: "\e9d3";
}
.icon-ic-real-estate-shower:before {
  content: "\e9d4";
}
.icon-ic-real-estate-stairs:before {
  content: "\e9d5";
}
.icon-ic-real-estate-washer:before {
  content: "\e9d6";
}
.icon-ic-real-estate-water:before {
  content: "\e9d7";
}
.icon-ic-security-alarm:before {
  content: "\e9d8";
}
.icon-ic-security-camera:before {
  content: "\e9d9";
}
.icon-ic-security-fingerprint:before {
  content: "\e9da";
}
.icon-ic-security-hidden-camera:before {
  content: "\e9db";
}
.icon-ic-security-key:before {
  content: "\e9dc";
}
.icon-ic-security-locked:before {
  content: "\e9dd";
}
.icon-ic-security-safe:before {
  content: "\e9de";
}
.icon-ic-security-safety:before {
  content: "\e9df";
}
.icon-ic-security-secured-profile:before {
  content: "\e9e0";
}
.icon-ic-security-shield:before {
  content: "\e9e1";
}
.icon-ic-security-unlocked:before {
  content: "\e9e2";
}
.icon-ic-security-unsecured:before {
  content: "\e9e3";
}
.icon-ic-shopping-bag:before {
  content: "\e9e4";
}
.icon-ic-shopping-box:before {
  content: "\e9e5";
}
.icon-ic-shopping-cash-register:before {
  content: "\e9e6";
}
.icon-ic-shopping-code:before {
  content: "\e9e7";
}
.icon-ic-shopping-discount:before {
  content: "\e9e8";
}
.icon-ic-shopping-escalator:before {
  content: "\e9e9";
}
.icon-ic-shopping-house:before {
  content: "\e9ea";
}
.icon-ic-shopping-parfume:before {
  content: "\e9eb";
}
.icon-ic-shopping-rack:before {
  content: "\e9ec";
}
.icon-ic-shopping-sign:before {
  content: "\e9ed";
}
.icon-ic-shopping-t-shirt:before {
  content: "\e9ee";
}
.icon-ic-shopping-wallet:before {
  content: "\e9ef";
}
.icon-ic-sport-basketball:before {
  content: "\e9f0";
}
.icon-ic-sport-bottle:before {
  content: "\e9f1";
}
.icon-ic-sport-dumbbell:before {
  content: "\e9f2";
}
.icon-ic-sport-football:before {
  content: "\e9f3";
}
.icon-ic-sport-golf:before {
  content: "\e9f4";
}
.icon-ic-sport-jump-rope:before {
  content: "\e9f5";
}
.icon-ic-sport-rugby:before {
  content: "\e9f6";
}
.icon-ic-sport-small-dumbbell:before {
  content: "\e9f7";
}
.icon-ic-sport-soccer-field:before {
  content: "\e9f8";
}
.icon-ic-sport-winner:before {
  content: "\e9f9";
}
.icon-ic-sport-winner_1:before {
  content: "\e9fa";
}
.icon-ic-sport-yard:before {
  content: "\e9fb";
}
.icon-ic-statistics-2:before {
  content: "\e9fc";
}
.icon-ic-statistics-3:before {
  content: "\e9fd";
}
.icon-ic-statistics-4:before {
  content: "\e9fe";
}
.icon-ic-statistics-5:before {
  content: "\e9ff";
}
.icon-ic-statistics-6:before {
  content: "\ea00";
}
.icon-ic-statistics-7:before {
  content: "\ea01";
}
.icon-ic-statistics-chart-0:before {
  content: "\ea02";
}
.icon-ic-statistics-chart-1:before {
  content: "\ea03";
}
.icon-ic-statistics-circle-chart:before {
  content: "\ea04";
}
.icon-ic-statistics-funnel:before {
  content: "\ea05";
}
.icon-ic-statistics-speed:before {
  content: "\ea06";
}
.icon-ic-statistics-workflow:before {
  content: "\ea07";
}
.icon-ic-users-add:before {
  content: "\ea08";
}
.icon-ic-users-arrow-down:before {
  content: "\ea09";
}
.icon-ic-users-arrow-left:before {
  content: "\ea0a";
}
.icon-ic-users-arrow-right:before {
  content: "\ea0b";
}
.icon-ic-users-arrow-up:before {
  content: "\ea0c";
}
.icon-ic-users-close:before {
  content: "\ea0d";
}
.icon-ic-users-confirm:before {
  content: "\ea0e";
}
.icon-ic-users-info:before {
  content: "\ea0f";
}
.icon-ic-users-more:before {
  content: "\ea10";
}
.icon-ic-users-remove:before {
  content: "\ea11";
}
.icon-ic-users-time:before {
  content: "\ea12";
}
.icon-ic-users-warning:before {
  content: "\ea13";
}
.icon-ic-weather-bolt:before {
  content: "\ea14";
}
.icon-ic-weather-cloud:before {
  content: "\ea15";
}
.icon-ic-weather-cloudy:before {
  content: "\ea16";
}
.icon-ic-weather-drop:before {
  content: "\ea17";
}
.icon-ic-weather-moon:before {
  content: "\ea18";
}
.icon-ic-weather-snow:before {
  content: "\ea19";
}
.icon-ic-weather-sunny:before {
  content: "\ea1a";
}
.icon-ic-weather-temperature:before {
  content: "\ea1b";
}
.icon-ic-weather-umbrella:before {
  content: "\ea1c";
}
.icon-ic-weather-wind:before {
  content: "\ea1d";
}
.icon-ic-weather-wind-storm:before {
  content: "\ea1e";
}
.icon-ic-weather-wind-storm-rain:before {
  content: "\ea1f";
}
